.dash-container {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.section-1 h1 {
  font-size: 2rem;
}
.section-1 button {
  border: none;
  height: 5vh;
  width: 10vw;
  background: greenyellow;
  cursor: pointer;
}

.section-2 {
  width: 50%;
  padding: 20px;
}

.house-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background: lightgray;
  padding: 10px;
  margin: 20px;
}

.house-card h2 {
  padding: 5px;
}
